:root {
  --white: #fff;
  --black: rgba(13, 3, 31, 0.74);
  --purple: rgb(45, 12, 53);
  --alpha-purple: rgb(73, 21, 66);

  --header-height: 100px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  background-color: var(--purple);
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.425);
  transition-duration: 1s;
  opacity: 0.8;
  overflow: hidden;
}

header:hover {
  opacity: 1;
}

.header-wrapper /*width of main part and header items width*/ {
  max-width: 950px;
  margin: 0 auto;
}

.header-table /*header__item*/ {
  display: inline-table;
  height: var(--header-height);
  width: 100%;
  margin: 0;
}

.main-button /*HOME*/ {
  display: inline-table;
  text-align: center;
  height: var(--header-height);
  font-size: 30px;
}

.main-button a {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

.main-button a:hover {
  background: var(--alpha-purple);
}

.header-menu {
  display: inline-table;
  float: right;
  list-style-type: none;
  margin: 0;
}

.header-menu li {
  display: table-cell;
  height: var(--header-height);
  vertical-align: middle;
}

.header-menu li a {
  padding: calc(var(--header-height) / 2) 20px;
  text-align: center;
  font-size: 20px;
}

.header-menu li a:hover {
  background: var(--alpha-purple);
}


a {
  color: var(--white);
  text-decoration: none;
}

body {
  font-size: 18px;
  background-image: url(../images/bg1.jpg);
  background-attachment: fixed;
  background-position: 50% 0;
  background-color: var(--white);
  font-family: 'Oswald', sans-serif;
}

.body-wrapper {
  margin-top: var(--header-height);
  color: var(--white);
  background-color: var(--black);
  border-left: 5px solid var(--purple);
  border-right: 5px solid var(--purple);
}

h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

p {
  margin: 0;
  font-family: 'Lato';
  padding: 10px 30px 10px 30px;
}
